.border {
  border: 0px solid black;
}
.newLine {
  width: 135px;
}
.clear {
  background-color: white;
}
.nopadding {
  padding: 0px;
}
.centre {
  text-align: center;
}
.tooltip-options {
  border-bottom: 1px dashed #999;
  display: inline;
  color: grey;
}
.header-options {
  background-color: #b0c4de;
}
.body-options {
  background-color: #d6ebff;
}
.header-preview {
  background-color: #e6e6e6;
}
.body-preview {
  background-color: #f2f2f2;
}
.match-row {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-actions {
  padding-top: 10px;
  padding-left: 15px;
  /* height: 82px; */
}
.new-win-checkbox {
  color: grey;
}
@media (max-width: 991px) {
  .header-preview-small {
    background-color: #e6e6e6;
  }
  .body-preview-small {
    background-color: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }

  .header-options {
    background-color: #445f81;
  }
  .body-options {
    background-color: #5d778f;
  }
  .header-preview {
    background-color: #3f3f3f;
  }
  .body-preview {
    background-color: #242424;
  }

  .new-win-checkbox {
    color: #fff;
  }
  .form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    color: #919191;
  }

  .tooltip-options {
    border-bottom: 1px dashed #b9b9b9;
    color: #b9b9b9;
  }
}